<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppComidas"
        tools:targetApi="31">

        <!-- LoginActivity ahora será la actividad de inicio -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Las otras actividades sin cambios excepto por la eliminación del LAUNCHER en  WelcomeActivity -->
        <activity
            android:name="com.example.appcomidas.VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_video_player"/>
        <activity
            android:name="com.example.appcomidas.SubCategoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/subcategory_title"
            android:theme="@style/Theme.AppComidas.Fullscreen" />
        <activity
            android:name=".WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/title_activity_welcome"
            android:theme="@style/Theme.AppComidas.Fullscreen"/>
        <activity
            android:name=".CategoryActivity"
            android:exported="true"/>
    </application>
</manifest>
